{% extends 'main/base.html' %}

{% block title %}
  Create Blog
{% endblock %}

{% block main_content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label }}
    {{ form.title }} <br />
    {{ form.content.label }}
    {{ form.content }} <br />
    {{ form.category.label }}
    {{ form.category }} <a href="{% url 'add_category_page' %}" style="background-color: orange; ">+</a> <br />

    <button type="submit">Post</button>
  </form>
{% endblock %}
